*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
img{
	border: none;
}
.container{
	width: 1226px;
	margin: 0 auto;
}
/* header */
	header{
		width: 100%;
		height: 40px;
		background-color: #333333;
	}
	header .left,header .zhong{
		height: 40px;
		line-height: 40px;
		overflow: hidden;
		font-size: 12px;
	}
	header .left{
		float: left;
	}
	header a.name{
		color: #b0b0b0;
		height: 40px;
	}
	header  a.name:hover{
		color: #fff;
	}
	header span{
		color: #424242;
		margin: 0 0.5em;
	}
	header .right{
		float: right; 
		width: 120px;
		height: 40px;
		margin-left: 15px;
		background: #424242;
	}
	header .right a{
		color: #b0b0b0;
		height: 40px;
		line-height: 40px;
		text-align: center;
		position: relative;
		display: block;
		text-decoration: none;
		font-size: 12px;
	}
	header .right .iconfont{
		text-align: center;
		font-size: 16px;
		line-height: 20px;
		margin-right: 4px;
		/* vertical-align: -4px; */
		color: ;#b0b0b0;
	}
	header .right span{
		line-height: 40px;
		text-align: center;
		color: #b0b0b0;
		font-size: 12px;
	}
	header .zhong{
		float: right;
	}
/* nav */
	nav{
		width: 100%;
		height: 100px;
		position: relative;
	}
	nav .logo{
		width: 62px;
		height: 62px;
		margin-top: 22px;
		float: left;
		position: relative;
	}
	nav .logo a{
		width: 55px;
		height: 55px;
		background-color: #ff6700;
		position: absolute;
		top: 0;
		text-align: center;
		line-height: 55px;
		overflow: hidden;
	}
	nav .logo a span{
		width: 49px;
		height: 49px;
		background: url('../img/logo.png') no-repeat 50% 50%;
		display: inline-block;
		line-height: 55px;
	}
	nav .nav{
		width: 850px;
		float: left;
	}
	nav .nav ul{
		width: 830px;
		height: 88px;
		line-height: 88px;
		z-index: 10;
		position: relative;
		padding: 12px 0 0 30px;
		font-size: 16px;
		float: left;
		box-sizing: border-box;
	}
	nav .nav ul li.item{
		color: #333;
		float: left;
		box-sizing: border-box;
	}
	nav .nav ul li.item a{
		color: #333;
		font-size: 16px;
		padding-right:  26px;
		color: #333;
		text-decoration: none;
	}
	nav .nav ul li.item a:hover{
		color: #ff6700;
	}
	nav .sousuo{
		width: 296px;
		margin-top: 25px;
		float: right;
		height: 50px;
		position: relative;
	}
	nav .sousuo .search-text{
		width: 223px;
		height: 48px;
		padding: 0 10px;
		border: 1px solid #e0e0e0;
		font-size: 14px;
		line-height: 48px;
		transition: all 0.2s;
		position: absolute;
		top:5px;
		right: 51px;
	}
	nav .sousuo .iconfont{
		position: absolute;
		top: 5px;
		right: 0;
		width: 52px;
		height: 48px;
		border: 1px solid #e0e0e0;
		line-height: 24px;
		background: #fff;
		color: #616161;
		transition: all 0.2s;
		font-size: 24px;
	}
	nav .sousuo .box_zi{
		position: absolute;
		top: 9px;
		right: 62px;
		text-align: center;

	}
	nav .sousuo .box_zi a{
		display: inline-block;
		margin-left: 5px;
		padding: 0 5px;
		font-size: 12px;
		background: #eee;
		transition: all 0.2s;
		color: #757575;
		text-decoration: none;
	}

	nav .sousuo .box_zi a:hover{
		background:   #ff6700;
		color: #fff;
	}
	nav{
		position: relative;
		z-index: 12;
	}
	nav .navmenu{
		position: absolute;
		width: 100%;
		height: 0;
		overflow: hidden;
		border-top: 1px solid #e0e0e0;
		background: #fff;
		left: 0;
		top: 100px;
		z-index: 12;
		/* transition: all 4s; */
	}
	nav .navmenu ul{
		padding: 0;
		margin: 0;
	}
	nav .navmenu ul.first{
		width: 100%;
		height: 100%;
		display: none;
	}
	nav .navmenu ul.active{
		display: block;
	}
	nav .navmenu ul.first li{
		width: 160px;
		padding: 35px 20px 0;
		text-align: center;
		float: left;
		position: relative;
	}
	nav .navmenu ul.first li .img{
		width: 160px;
		padding: 0 15px;
		height: 110px;
		margin: 0 auto 16px;
		border-right: 1px solid #E0E0E0;
		text-align: center;
	}
	nav .navmenu ul.first li .img img{
		width: 160px;
		height: 110px;
	}
	nav .navmenu ul.first li .title{
		margin: 0;
		line-height: 20px;
	}
	nav .navmenu ul.first li .title a{
		color: #333;
		line-height: 20px;
		text-align: center;
		font-size: 16px;
		text-decoration: none;
	}
	nav .navmenu ul.first li p{
		color: #ff6700;
		line-height: 20px;
		font-size: 12px;
		text-align: center;
	}
	nav .navmenu ul.first li .tou{
		width: 100%;
		position: absolute;
		top: -33px;
		left: 0;
		height: 22px;
		text-align: center;
	}
	nav .navmenu ul.first li .tou span{
		display: inline-block;
		width: 66px;
		height: 22px;
		border: 1px solid #ff6200;
		color: #ff6200;
		line-height: 22px;
		font-size: 12px;
		text-align: center;
		box-sizing: border-box;
	
	}


/* banner */
	.banner{
		width: 100%;
		height: 644px;
		margin-bottom: 26px;
	}
	.banner .container{
		position: relative;
	}
	.banner ul.banner_top{
		width: 1226px;
		height: 460px;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;	
	}
	.banner .banner_top .list{
		width: 100%;
		height: 460px;
		position: absolute;
		left: 0;
		right: 0;
		display: none;
	}
	.banner .banner_top .list.move{
		display: block;
	}
	.banner .banner_top .move img{
		width: 100%;
	}
	.banner .left,.banner .right{
		width: 35px;
		height:70px;
		
		text-align: center;
		position: absolute;
		top: 50%;
		margin-top: -35px;
	}
	.banner .left:hover,.banner .right:hover{
		background: #000;
		opacity: 0.6;
	}
	.banner .left .iconfont,.banner .right .iconfont{
		color: #999;
		line-height: 70px;
		font-size: 24px;
	}
	.banner .left:hover .iconfont,.banner .right:hover .iconfont{
		color: #fff;
	}
	.banner .left{
		left: 234px;
	}
	.banner .right{
		right: 0;
	}
	.banner .box{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 4;
	}
	.banner .box .zz{
		width: 234px;
		height: 460px;
		position: absolute;
		left: 0;
		top: 0;
	}
	.banner .box .zz ul.zz_1{
		height: 420px;
		width: 100%;
		background: rgba(0, 0, 0, 0.6);
		color: #fff;
		padding: 20px 0;
		position: relative;
	}
	.banner .box .zz ul li.zizi{
		width: 100%;
		height: 42px;
		display: block;
		z-index: 23;
		float: left;
		padding-left: 35px;
		box-sizing: border-box;
	}
	.banner .box .zz ul li.zizi:hover{
		background: #FF6700;
		color: #fff;
	}
	.banner .box .zz ul li a.title{
		width: 100%;
		height: 42px;
		line-height: 42px;
		position: relative;
		display: block;
		color: #c0c0c0;
		z-index: 11;
		font-size: 14px;
	}
	.banner .box .zz ul li:hover a.title{
		color: #fff;
	}
	.banner .box .zz ul li a.title .iconfont{
		position: absolute;
		top: 12px;
		right: 20px;
		line-height: 16px;
		font-size: 16px;
		color: #c0c0c0;
	}
	.banner .box .zz ul li.zizi:hover .contant{
		display: block;
	}
	.banner .zz .contant{
		width: 795px;
		position: absolute;
		display: none;
		left: 234px;
		top: 0px;
		z-index: 24;
		height: 458px;
		border: 1px solid #e0e0e0; 
		border-left: 0;
		background: #fff;
		box-shadow: 0 8px 16px rgba(0,0,0,0.18);
	}
	.banner .contant .item_1{
		width: 265px;
		float: left;
		height: 458px;
		margin: 0;
		padding: 2px 0;
		z-index: 10;
	}
	.banner .contant .item_1 .i{
		float: left;
		z-index: 20;
		width: 265px;
		height: 76px;
	}
	.banner .contant .item_1 .i .aa{
		display: block;
		padding: 18px 20px;
		line-height: 40px;
		color: #333;
		transition: all 0.2s;
		text-decoration: none;
	}
	.banner .contant .item_1 .i img{
		width: 40px;
		height: 40px;
		margin-right: 12px;
		vertical-align: middle;
	}
	.banner .contant .item_1 .i span{
		line-height: 40px;
		color: #333;
		font-size: 16px;
	}
	.banner .contant .item_1 .i:hover span{
		color: #FF6700;
	}
	.banner .banner_bottom{
		width: 100%;
		height: 170px;
		margin-top: 14px;
		position: absolute;
		top: 460px;
		left: 0;
		/* background: red; */
	}
	.banner_bottom .span{
		width: 234px;
		height: 170px;
		float: left;
	}
	.banner_bottom .span .span_home{
		width: 100%;
		height: 100%;
		background: #5F5750;
		padding:4px 12px;
		box-sizing: border-box;
	}
	.banner_bottom .span .span_home li{
		padding: 0 3px;
		width: 70px;
		height: 82px;
		float: left;
		border-right: 1px solid rgba(255, 255, 255, 0.1);
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		box-sizing: border-box;
	}
	.banner_bottom .span .span_home li.li{
		border-bottom: none;
	}
	.banner_bottom .span .span_home li:nth-child(3n){
		border-right: none;
	}
	.banner_bottom .span .span_home li a{
		padding-top: 18px;
		height: 64px;
		display: block;
		text-overflow: ellipsis;
		transition: all 0.2s;
		color: rgba(255, 255, 255, 0.7);
		overflow: hidden;
		white-space: nowrap;
		box-sizing: border-box;
		font-size: 12px;
		text-align: center;
	}
	.banner_bottom .span .span_home li:hover a{
		color: #fff;
	}
	.banner_bottom .span .span_home li a .iconfont{
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 4px;
		height: 24px;
		display: block;
		color: rgba(255,255,255,0.7);
	}
	.banner_bottom .span .span_home li:hover a .iconfont{
		color: #fff;
	}
	.banner_bottom .span12{
		width: 978px;
		height: 100%;
		float: left;
		margin-left: 14px;
	}
	.banner_bottom .span12 ul{
		width: 100%;
		height: 100%;
	}
	.banner_bottom .span12 ul li{
		float: left;
		width: 316px;height: 170px;
		transition: box-shadow 0.2s linear;
		margin-right: 14px;
	}
	.banner_bottom .span12 ul li:hover{
		/* box-shadow:  5px  15px  50px 1px  rgba(0,0,0,0.2); */
		box-shadow: 0 5px 25px 1px rgba(0,0,0,0.2);
	}
	.banner_bottom .span12 ul li img{
		width: 100%;
	}
	.banner_bottom .span12 ul li.hou{
		margin-right: 0;
	}
	.banner_top .dian{
		width: 200px;
		height: 20px;
		left: auto;
		position: absolute;
		right: 0px;
		bottom: 10px;
		text-align: center;
		z-index: 200;
	}
	.banner_top .dian .d{
		width: 10px;
		height: 10px;
		border: 2px solid #fff;
		border-color: rgba(255,255,255,0.3);
		float: left;
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.4);
		margin-right: 10px;
		box-sizing: border-box;
	}
	.banner_top .dian .active{
		background: #ccc;
		border-color: rgba(255,255,255,0.5);
	}
/* dan */
	.dan{
		width: 100%;
		height: 438px;
	}
	.dan .title{
		width: 100%;
		/* height: 100%; */
		height: 58px;
		background: #fff;
		position: relative;
	}
	.dan .title h2{
		font-size: 22px;
		font-weight: 200;
		line-height: 58px;
		color: #333;
	}
	.dan .more{
		position: absolute;
		right: 0;
		top: 24px;
	}
	.dan .more a.iconfont{
		width: 24px;
		height: 16px;
		padding: 3px 5px;
		line-height: 16px;
		font-size: 16px;
		border: 1px solid #e0e0e0;
		transition: all 0.5s;
		color: #E0E0E0;
	}
	.dan .container{
		position: relative;
	}
	.dan .more a.active{
		color: #B0B1BB;
		/* left: 0; */
	}
	/* .dan .more a.iconfont:hover{
		color: #ff6200;
	} */
	.dan .dan_bd{
		width: 100%;
		height: 380px;
		padding-bottom: 40px;
		position: relative;
		overflow: hidden;
		margin-top: 10px;
	}
	.dan .dan_bd .box1{
		width:100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 100%;
	}
	.dan .dan_bd ul.xian{
		left: 0;
	}
	.dan .dan_bd .box1 .item{
		width: 233px;
		height: 300px;
		float: left;
		transition: all 0.6s;
		background: #fafafa;
		padding-top: 39px;
		text-align: center;
		margin-right: 15px;
	}
	.dan .dan_bd .box1 .hou{
		margin-right: 0;
	}
	.dan .dan_bd .box1 .item a.img{
		width: 160px;
		margin: 0 auto 22px;
	}

	.dan .dan_bd .box1 .item img{
		width: 160px;
		height: 160px;
	}
	.dan .dan_bd .box1 .item h3{
		margin: 0 20px 3px;
		text-align: center;
		line-height: 20px;
		font-size: 14px;
		font-weight: 400;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.dan .dan_bd .box1 .item .desc{
		font-size: 12px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		color: #b0b0b0;
		padding: 0 20px 12px;
		height: 18px;
		font-size: 12px;

	}
	.dan .dan_bd .box1 .item .price{
		color: #ff6700;
		margin: 0;
		font-size: 14px;
	}
/* home */
	.home{
		width: 100%;
		padding-top: 60px;
		background: #f5f5f5;
		overflow: hidden;
	}
	.box{
		width: 1226px;
		height: 686px;
	}
	.box .title{
		width: 100%;
		height: 58px;
	}
	.box .title h2{
		display: inline-block;
		float: left;
		font-size: 22px;
		line-height: 58px;
		color: #333;
		font-weight: 400;
	}
	.box .title .list{
		width: 280px;
		float: right;
		height: 42px;
		display: flex;
		padding: 16px 0 0;
	}
	.box .title .list li{
		/* width: 25%; */
		height: 80%;
		color: #333;
		line-height: 42px;
		text-align: center;
		color: #424242;
		font-size: 16px;
		margin-left: 30px;
	}
	.home .box .title .active{
		color: #ff6700;
		border-bottom: 2px solid #ff6700;
		
	}
	.home .xia{
		width: 100%;
		height: 628px;
		overflow: hidden;
		margin-top: 15px;
		cursor: pointer;
	}
	.home .xia .left{
		width: 234px;
		height: 614px;
		/* margin-left: 14px; */
		margin-bottom: 14px;
		transition: all 0.2s linear;
		float: left;
	}
	.home .xia .left:hover{
		transform: translateY(-5px);
		box-shadow:  5px  15px  50px 1px  rgba(0,0,0,0.2);
	}
	.home .xia .left a{
		width: 234px;
		height: 614px;
	}
	.home .xia .left a img{
		width: 100%;
		height: 100%;
	}
	.home .xia .right{
		width: 988px;
		margin-left: 4px;
		display: none;
		/* display: flex; */
		float: left;
	}
	.home .xia .active{
		display: block;
	}
	.home .xia .right li{
		width: 233px;
		height: 300px;
		padding: 34px 0 20px;
		margin-left: 14px;
		box-sizing: border-box;
		transition: all 0.2s linear;
		background: #fff;
		position: relative;
		overflow: hidden;
		float: left;
		margin-bottom: 14px;
	}
	.home .right .img{
		width: 150px;
		height: 150px;
		margin: 0 auto 18px;
	}
	.home .right .img:hover img{

	}
	.home .right .img img{
		width: 150px;
		height: 150px;
	}
	.home .right h3{
		color: #333;
		margin: 0 10px;
		font-size: 14px;
		line-height: 21px;
		font-weight: 400;
		text-align: center;
	}
	.home .right h3 a{
		cursor: pointer;
		color: #333;
	}
	.home .right .desc{
		margin: 0 10px 10px;
		height: 18px;
		line-height: 18px;
		text-align: center;
		font-size: 12px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #b0b0b0; 
	}
	.home .right .price{
		margin: 0 10px 10px;
		text-align: center;
		color: #ff6700;
		font-size: 12px;
	} 
	.home .right .price span{
		color: #b0b0b0;
		text-decoration: line-through;
		text-align: center;
		margin-left: 6px;
	}
	.home .right li .zz{
		width: 234px;
		position: absolute;
		bottom: -75px;
		opacity: 0;
		left: 0;
		z-index: 3;
		overflow: hidden;
		font-size: 12px;
		background:  #ff6700;
		transition: all 0.2s linear;
	}
	.home .right li .zz a{
		width: 234px;
		display: block;
		padding: 8px 30px;
		height: 75px;
		box-sizing: border-box;
	}
	.home .right li .zz p{
		margin-bottom: 5px;
		color: #fff;
	}
	.home .right li .zz span{
		color: rgba(255, 255, 255, 0.6);
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.home .right li.tu:hover{
		box-shadow:  5px  15px  50px 1px  rgba(0,0,0,0.2);
	}
	.home .right li.tu:hover .zz{
		transform: translateY(-75px);
		opacity: 1;
	}

/* many */
	.many{
		width: 100%;
		height: 478px;
		margin-bottom: 22px;
	}
	.many .title{
		width: 100%;
		height: 58px;
	}
	.many .title h2{
		font-size: 22px;
		line-height: 58px;
		text-align: left;
		color: #333;
		font-weight: 200;
		margin: 0;
	}
	.many .box{
		width: 100%;
		height: 420px;
	}
	.many .text{
		width: 1240px;
		height: 420px;
		margin: 0;
		padding: 0;
	}
	.many .text .t1{
		width: 290px;
		padding: 45px 0 0;
		margin-bottom: 14px;
		height: 374px;
		float: left;
		position: relative;
		background: #fff;
		transition: all 0.2s linear;
		margin-right: 20px;
	}
	.many .text .hou{
		margin-right: 0;
	}
	.many .text .t1:hover{
		transform: translateY(-10px);
		box-shadow: 10px 5px 50px 1px rgba(0, 0, 0, 0.2);
	
	}
	.many .text .t1 h1{
		margin: 0 10px 18px;
		font-size: 16px;
		font-weight: 400;
		text-align: center;
		color: #ffac13;
	}
	.many .text .xm{
		height: 340px;
		overflow: hidden;
	}
	.many .text .xm ul{
		width: 100%;
		height: 340px;
		transition: all 0.5s ease;
		/* overflow: hidden; */
		position: relative;
	}
	.many .text .xm ul li{
		width: 296px;
		height: 340px;
		float: left;
		position: absolute;
		left: 100%;
		top: 0;
	}
	
	.many .text .xm ul li.appear{
		left: 0;
	}
	.many .text .xm ul li h4{
		margin: 0 20px 5px;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.25;
		color: #333;
		text-align: center;
	}
	.many .text .xm ul li h4 a{
		color: #000;
	}
	.many .text .xm ul li .desc{
		margin: 0 48px 10px;
		height: 35px;
		font-size: 12px;
		text-align: center;
		overflow: hidden;

		color: #b0b0b0;
	}
	.many .text .xm ul li .price{
		text-align: center;
		color: #333;
		height: 21px;
		font-size: 16px;
		margin: 0 10px 15px;
	}	
	.many .text .xm ul li .img{
		width: 216px;
		height: 154px;
		margin: 0 auto;
	}
	.many .text .xm ul li img{
		width: 216px;
		height: 154px;
	}
	.many .xm ul .left,.many .xm ul .right{
		width:25px;
		height: 50px;
		position: absolute;
		top: 50%;
		margin-top: -25px;
		background:#D9D9D9;
		color: #fff; 
		text-align: center;
		overflow: hidden;
		display: none;
	}
	.many .xm ul:hover .left,.many .xm ul:hover .right{
		display: block;
	}
	.many .xm ul .left:hover,.many .xm ul .right:hover{
		background: #8D8D8D;

	}
	.many .xm ul .left .iconfont,.many .xm ul .right .iconfont{
		font-size: 20px;
		line-height: 50px;
		color: #fff;
	}
	.many .xm ul .right{
		right: 0;
	}
	.many .xm ul .dian{
		width: 100%;
		text-align: center;
		height: 30px;
		position: absolute;
		bottom: 15px;
		left: 0;

	}
	.many .xm ul .dian .dd{
		width: 10px;
		height: 10px;
		display: inline-block;
		margin: 0 2px;
		border: 2px solid #f5f5f5;
		background: #b0b0b0;
		border-radius: 50%;
		transition: all 0.5s;
		line-height: 30px;
	}
	.many .xm ul .dian .dot{
		border: 2px solid #ff6700;
		background: transparent;
	}
/* recommend */
	.recommend{
		width: 100%;
		padding-bottom: 22px;
		padding-top: 20px;
		background: #F5F5F5;
	}
	.recommend .title{
		background: #f5f5f5;
	}
/* footer */
	footer{
		width: 100%;
		height:272px;
		background: #fff; 
	}
	footer .title{
		width: 100%;
		padding: 27px 0;
		border-bottom: 1px solid #e0e0e0;
	}
	footer .title .service{
		width: 100%;
		height: 25px;
	}
	footer .title .service li{
		float: left;
		border-left: 1px solid #e0e0e0;
		width: 19.8%;
		height: 100%;
		font-size: 16px;
		text-align: center;
		line-height: 25px;
		color: #333;
	}
	footer a{
		color: #333;
		list-style: none;
		text-decoration: none;
	}
	footer .title li .iconfont{
		font-size: 24px;
		margin-right: 6px;
		line-height: 25px;
		vertical-align: -4px;
	}
	footer .title .service li:hover a{
		color: #FF6700;
	}
	footer .title .service li:hover .iconfont{
		color: #FF6700;
	}
	footer .bottom{
		width: 100%;
		height: 192px;
		padding: 40px 0;
		box-sizing: border-box;
	}
	footer .bottom dl{
		width: 160px;
		height: 112px;
		float: left;
		margin: 0;
	}
	footer .bottom dl dt{
		font-size: 14px;
		margin: -1px 0 26px;
		line-height: 1.25;
		color: #424242;
	}
	footer .bottom dl dd{
		margin: 10px 0 0;
		font-size: 12px;
		color: #757575;
	}
	footer .bottom dl a{
		color: #757575;
		text-decoration: none;
	}
	footer .bottom .col{
		float: right;
		width: 252px;
		height: 112px;
		border-left: 1px solid #e0e0e0;
		text-align: center;
		color: #616161
	}
	footer .bottom .col .phone{
		color: #ff6200;
		font-size: 22px;
		margin: 0 0 5px;
		line-height: 1;

	}
	footer .bottom .col .er{
		font-size: 12px;
		margin: 0 0 16px;
	}
	footer .bottom .col a{
		color: #ff6200;
		display: inline-block;
		width: 118px;
		height: 28px;
		line-height: 28px;
		font-size: 12px;
		border: 1px solid #ff6200;
	}
	footer .bottom .col .iconfont{
		color: #ff6200;
		font-weight: 700;
		margin-right: 4px;
		line-height: 28px;
	}
	footer .site{
		width:100%;
		height: 57px;
		padding: 30px 0 ;
		background: #fafafa; 
	}
	footer .left{
		width: 57px;
		height: 57px;
		float: left;
		margin-right: 10px;
	}
	footer .left img{
		width: 100%;
	}
	footer .zhong{
		float: left;
		color: #b0b0b0;
		font-size: 12px;
		height: 55px;
		width: 590px;

	}
	footer .zhong .name{
		line-height: 18px;
	}
	footer .zhong .name a{
		color: #757575;
		display: inline;
		font-size: 12px;
	}
	footer .zhong .name span{
		margin: 0 .25em;
		line-height: 18px;
	}
	footer .zhong .desc{
		line-height: 18px;

	}
	footer .zhong .desc a{
		color: #b0b0b0;
		text-decoration: none;
		cursor: auto;
	}
	footer a:hover{
		color: #ff6200;
	}
	footer .right{
		float: right;
		height: 28px;
	}
	footer .right ul{
		height: 100%;
	}
	footer .right ul li{
		float: left;
	}
	footer .right ul li img{
		height: 28px;
	}